<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenido al Simple Hang v2.0</title>
</head>
<body>
<<<<<<< HEAD
Bienvenido al Simple Hang v2.0
=======
>>>>>>> 923f065ea8d6fe20e890f988ea5a4003fe07efeb
    <form action="/juego" method="post">
    <button type="submit" value="Iniciar juego"></button>
    </form>
</body>
</html>