<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenido al Simple Hang v2.0</title>
</head>
<body>
<div align="center"><h1>Bienvenido al Simple Hang v2.0</h1>
    <form action="/juego" method="post">
    <button type="submit" value="Iniciar juego">Iniciar juego</button>
    </form>
</div>
</body>
</html>