<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <h1>Simple Hang v2.0 iniciado</h1>
        <h3><%= session['enmascarada'] %></h3>
        <form action="/verificar" method="POST">
            <input type="text" name="letra">
            <input type="submit" value="Verificar">
        </form>
        <%=session['letra'] %>
    </div>
</body>
</html>